body {
    font-family: 'Courier New', monospace;
    background-color: #282a36;
    color: #f8f8f2;
    margin: 0;
    padding: 0;
}

header {
    background-color: #44475a;
    width: 100%; /* Faz a barra de navegação ocupar toda a largura */
}

nav {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin: 0 auto;
}

nav a {
    text-decoration: none;
    color: #f8f8f2;
    font-weight: bold;
    margin: 7px;
}

section {
    margin: 0;
}

img {
    height: auto;
}

h1, h3 {
    color: #c1292e;
}

h2{
    padding-top: 40px;
    color: #c1292e;
}
hr {
    border: 1px solid #50fa7b; /* Cor da linha, neste caso verde */
    max-width: 800px;
    margin-top: 40px;
    margin-bottom: 40px;
}

a {
    color: #50fa7b;
    text-decoration: none;
}

footer{
    background-color: black;
}

.coluna {
    display: flex;
    background-color: #fff;
    color: black;
    border-radius: 10px;
    padding: 5px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 0;
}

.perfil {
    display: flex;
    align-items: center;
}

.interesses{
    display: flex;
    padding-left: 0;
}

.subtitulo{
    margin-top: 20px;
}

.perfil img {
    max-width: 30%; /* Tamanho máximo da imagem */
    border-radius: 10px;
    margin-right: 40px;
    margin-top: 20px;
}

.descricao {
    flex: 1;
}

.descricao h1 {
    font-size: 28px;
    margin-top: 0;
}

.descricao p {
    font-size: 16px;
    padding-left: 10px;
}

.gif{
    max-width: 750px;
}

.gif-container {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

.logoPrimeiroItens{
    width: 70px;
    border-radius: 10%;
    margin-right: 5px;
}

.logoItens{
    width: 70px;
    border-radius: 10%;
    margin-left: 30px;
    margin-right: 5px;
}

.coluna2 {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.logoAtitus{
    width: 100%;
    border-radius: 10px;
}

.atitusItem{
    border-radius: 10px;
    background-color: #44475a;
    padding-bottom: 10px;
}

.atitusTexto{
    padding-left: 10px;
}

.interessesItens{
    background-color: #44475a;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

.button {
    background-color: #50fa7b; /* Cor de fundo */
    color: #282a36; /* Cor do texto */
    border: 2px solid #50fa7b; /* Borda sólida */
    padding: 10px 20px; /* Espaçamento interno (ajuste conforme necessário) */
    margin: 10px;
    text-decoration: none; /* Remova sublinhado */
    display: flex; /* Certifique-se de que o botão se comporte como um bloco */
    font-weight: bold; /* Deixa o texto em negrito */
    border-radius: 10px; /* Borda arredondada */
    cursor: pointer; /* Muda o cursor ao passar o mouse sobre o botão */

}

.button:hover {
    background-color: #282a36; /* Cor de fundo ao passar o mouse */
    color: #50fa7b; /* Cor do texto ao passar o mouse */
}

.button2 {
    background-color: #50fa7b; /* Cor de fundo */
    color: #000000; /* Cor do texto */
    border: 2px solid #50fa7b; /* Borda sólida */
    padding: 10px 20px; /* Espaçamento interno (ajuste conforme necessário) */
    margin: 10px;
    text-decoration: none; /* Remova sublinhado */
    display: inline-flex;
    font-weight: bold; /* Deixa o texto em negrito */
    border-radius: 10px; /* Borda arredondada */
    cursor: pointer; /* Muda o cursor ao passar o mouse sobre o botão */

}

.button2:hover {
    background-color: #000000; /* Cor de fundo ao passar o mouse */
    color: #50fa7b; /* Cor do texto ao passar o mouse */
}

.contato{
    padding-bottom: 20px;
}

.informaçõesContato{
    padding-left: 10px;
    margin-top: 0;
}

.rosa{
    color: #FF79C6;
}

.verde{
    color: #50FA7B;
}

.amarelo{
    color: #edf878;
}

.roxo{
    color: #BD93F9;
}

.azulClaro{
   color: #8BE9FD;
}

.azulEscuro{
    color: #244fcf;
}

@media (max-width: 768px) {

    h2{
        padding-top: 0;
    }

    hr {
        border: 1px solid #50fa7b; /* Cor da linha, neste caso verde */
        max-width: 800px;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .container {
        max-width: 100%;
        padding: 10px;
    }

    .subtitulo{
        margin-top: 10px;
    }

    .perfil {
        flex-direction: column; /* Muda o layout para uma coluna */
    
    }
    .perfil img {
        text-align: center; /* Centraliza a imagem */
        max-width: 50%;
        margin-right: 0;
        margin-top: 10px;
    }
    .descricao {
        margin-top: 10px;
    }

    .descricao h1 {
        font-size: 24px;
        margin-top: 10px;
    }
    
    .descricao p {
        padding-left: 10px;
        font-size: 11px;
    }

    .coluna{
        display: block;
    }

    .interesses{
        display: block;
    }

    .gif{
        max-width: 90%;
    }

    .gif-container {
        display: flex;
        justify-content: center; /* Centraliza horizontalmente */
        align-items: center; /* Centraliza verticalmente */
        margin-bottom: 0;
    }

    .logoPrimeiroItens{
        width: 70px;
        border-radius: 10%;
        margin-right: 5px;
        margin-left: 30px;
    }
}